<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<!--====================================================-->
   <!-- Extention points -->
   <!--====================================================-->
   <extension-point id="customTagConverter" name="customTagConverter" schema="schema/customTagConverter.exsd"/>
   <extension-point id="customTagAttributeAssist" name="customTagAttributeAssist" schema="schema/customTagAttributeAssist.exsd"/>
   <extension-point id="paletteItem" name="paletteItem" schema="schema/paletteItem.exsd"/>
   <extension-point id="noValidationNatures" name="noValidationNatures" schema="schema/noValidationNatures.exsd"/>
   <extension-point id="fileAssistProcessor" name="fileAssistProcessor" schema="schema/fileAssistProcessor.exsd"/>
   <extension-point id="hyperlinkProvider" name="hyperlinkProvider" schema="schema/hyperlinkProvider.exsd"/>
   <extension-point id="tldLocator" name="tldLocator" schema="schema/tldLocator.exsd"/>
   <extension-point id="customTagValidator" name="customTagValidator" schema="schema/customTagValidator.exsd"/>
   <extension-point id="preferenceContributer" name="preferenceContributer" schema="schema/preferenceContributer.exsd"/>
   <extension-point id="pagefilter" name="pagefilter" schema="schema/pagefilter.exsd"/>
   <extension-point id="javaScriptCompleter" name="javaScriptCompleter" schema="schema/javaScriptCompleter.exsd"/>
   <extension-point id="jspelAssistProcessor" name="jspelAssistProcessor" schema="schema/jspelAssistProcessor.exsd"/>
   <extension-point id="contentAssistProcessors" name="contentAssistProcessors" schema="schema/contentAssistProcessors.exsd"/>
   <extension-point id="hoverProviders" name="hoverProviders" schema="schema/hoverProviders.exsd"/>
   
	<!-- 初始配置 -->
	<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.tulin.v8.webtools.PreferenceInitializer"/>
   	</extension>
   
	<!-- HTML File Editor-->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="htm,html,xhtml"
            id="com.tulin.v8.webtools.html"
            name="HTML">
      </content-type>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.tulin.v8.webtools.html"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension point="org.eclipse.ui.genericeditor.icons">
    <icon contentType="com.tulin.v8.webtools.html" icon="icons/html.png"/>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tulin.v8.webtools.html.editors.HTMLEditor"
            contributorClass="com.tulin.v8.webtools.html.editors.HTMLEditorContributor"
            extensions="html,xhtml"
            icon="icons/html_file.gif"
            id="com.tulin.v8.webtools.editors.HTMLEditor"
            name="%plugin.editor.htmleditor"/>
      <editor
            class="com.tulin.v8.webtools.css.editors.CSSEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="css"
            icon="icons/css.gif"
            id="com.tulin.v8.webtools.csseditor.editors.CSSEditor"
            name="%plugin.editor.csseditor"/>
      <editor
            class="com.tulin.v8.webtools.js.editors.JavaScriptEditor"
            contributorClass="com.tulin.v8.webtools.js.editors.JavaScriptEditorContributor"
            default="true"
            extensions="js"
            icon="icons/js.gif"
            id="com.tulin.v8.webtools.jseditor.editors.JavaScriptEditor"
            name="%plugin.editor.jseditor"/>
            
      <editor
            class="com.tulin.v8.webtools.jsp.editors.JSPEditor"
            contributorClass="com.tulin.v8.webtools.jsp.editors.JSPEditorContributor"
            default="true"
            extensions="jsp,jspf"
            icon="icons/jsp_file.gif"
            id="com.tulin.v8.webtools.jspeditor.editors.JSPEditor"
            name="%plugin.editor.jspeditor"/>
            
      <editor
            class="com.tulin.v8.webtools.xml.editors.XMLEditor"
            contributorClass="com.tulin.v8.webtools.xml.editors.XMLEditorContributor"
            default="true"
            extensions="xml,tld,xsl"
            icon="icons/xml.gif"
            id="com.tulin.v8.webtools.xmleditor.editors.XMLEditor"
            name="%plugin.editor.xmleditor">
      </editor>
   </extension>
   
   <!--====================================================-->
   <!-- Preferences -->
   <!--====================================================-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tulin.v8.webtools.preferencePages.PreferencePage"
            name="%plugin.preference.category"
            category="com.tulin.v8.ide.preferences.StudioPreferencePage"
            id="com.tulin.v8.webtools.category"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.CustomAssistPreferencePage"
            category="com.tulin.v8.webtools.AssistPreferencePage"
            name="%plugin.preference.customassist"
            id="com.tulin.v8.webtools.CustomAssistPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.DTDPreferencePage"
            category="com.tulin.v8.webtools.XMLPreferencePage"
            name="%plugin.preference.dtd"
            id="com.tulin.v8.webtools.DTDPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.TLDPreferencePage"
            category="com.tulin.v8.webtools.JSPEditorPreferencePage"
            name="%plugin.preference.tld"
            id="com.tulin.v8.webtools.TLDPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.AssistPreferencePage"
            category="com.tulin.v8.webtools.category"
            name="%plugin.preference.codeassist"
            id="com.tulin.v8.webtools.AssistPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.CSSEditorPreferencePage"
            category="com.tulin.v8.webtools.category"
            name="%plugin.preference.csseditor"
            id="com.tulin.v8.webtools.CSSEditorPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.JSPEditorPreferencePage"
            category="com.tulin.v8.webtools.category"
            name="%plugin.preference.jspeditor"
            id="com.tulin.v8.webtools.JSPEditorPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.JavaScriptEditorPreferencePage"
            category="com.tulin.v8.webtools.category"
            name="%plugin.preference.jseditor"
            id="com.tulin.v8.webtools.JavaScriptEditorPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.XMLPreferencePage"
            category="com.tulin.v8.webtools.category"
            name="XML"
            id="com.tulin.v8.webtools.XMLPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.HTMLTaskTagPreferencePage"
            category="com.tulin.v8.webtools.XMLPreferencePage"
            name="%plugin.preference.tasktag"
            id="com.tulin.v8.webtools.tasktag.HTMLTaskTagPreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.HTMLTemplatePreferencePage"
            category="com.tulin.v8.webtools.AssistPreferencePage"
            name="%plugin.preference.template"
            id="com.tulin.v8.webtools.template.HTMLTemplatePreferencePage"/>
      <page
            class="com.tulin.v8.webtools.preferencePages.FormatterPreferencePage"
            category="com.tulin.v8.webtools.category"
            name="%plugin.preference.formatter"
            id="com.tulin.v8.webtools.FormatterPreferencePage"/>
   </extension>
   
   <!-- Javascript File Editor-->
    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="js"
            id="com.tulin.v8.webtools.js"
            name="Javascript">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.tulin.v8.webtools.js"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="com.tulin.v8.webtools.js.JavaScriptAutoEditStrategy"
            contentType="com.tulin.v8.webtools.js">
      </autoEditStrategy>
   </extension>

</plugin>
