<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<!--====================================================-->
   <!-- Extention points -->
   <!--====================================================-->
   <extension-point id="customTagConverter" name="customTagConverter" schema="schema/customTagConverter.exsd"/>
   <extension-point id="customTagAttributeAssist" name="customTagAttributeAssist" schema="schema/customTagAttributeAssist.exsd"/>
   <extension-point id="paletteItem" name="paletteItem" schema="schema/paletteItem.exsd"/>
   <extension-point id="noValidationNatures" name="noValidationNatures" schema="schema/noValidationNatures.exsd"/>
   <extension-point id="fileAssistProcessor" name="fileAssistProcessor" schema="schema/fileAssistProcessor.exsd"/>
   <extension-point id="hyperlinkProvider" name="hyperlinkProvider" schema="schema/hyperlinkProvider.exsd"/>
   <extension-point id="tldLocator" name="tldLocator" schema="schema/tldLocator.exsd"/>
   <extension-point id="customTagValidator" name="customTagValidator" schema="schema/customTagValidator.exsd"/>
   <extension-point id="preferenceContributer" name="preferenceContributer" schema="schema/preferenceContributer.exsd"/>
   <extension-point id="pagefilter" name="pagefilter" schema="schema/pagefilter.exsd"/>
   <extension-point id="javaScriptCompleter" name="javaScriptCompleter" schema="schema/javaScriptCompleter.exsd"/>
   <extension-point id="jspelAssistProcessor" name="jspelAssistProcessor" schema="schema/jspelAssistProcessor.exsd"/>
   
	<!-- 初始配置 -->
	<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.tulin.v8.webtools.PreferenceInitializer"/>
   	</extension>
   
	<!-- HTML File Editor-->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="htm,html,xhtml"
            id="com.tulin.v8.webtools.html"
            name="HTML">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.tulin.v8.webtools.html"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="com.tulin.v8.webtools.html.HtmlPresentationReconciler"
            contentType="com.tulin.v8.webtools.html">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="com.tulin.v8.webtools.html.HtmlHoverProvider"
            contentType="com.tulin.v8.webtools.html">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="com.tulin.v8.webtools.html.HtmlContentAssistProcessor"
            contentType="com.tulin.v8.webtools.html">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="com.tulin.v8.webtools.html.HtmlAutoEditStrategy"
            contentType="com.tulin.v8.webtools.html">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="com.tulin.v8.webtools.html.HtmlReconciler"
            contentType="com.tulin.v8.webtools.html">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.tulin.v8.webtools.html.ValidatorDocumentSetupParticipant"
            contentTypeId="com.tulin.v8.webtools.html"
            extensions="html">
      </participant>
   </extension>
   <extension point="org.eclipse.ui.genericeditor.icons">
    <icon contentType="com.tulin.v8.webtools.html" icon="icons/html.png"/>
   </extension>
   
   <!-- Javascript File Editor-->
    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="js"
            id="com.tulin.v8.webtools.js"
            name="Javascript">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.tulin.v8.webtools.js"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="com.tulin.v8.webtools.js.JavaScriptAutoEditStrategy"
            contentType="com.tulin.v8.webtools.js">
      </autoEditStrategy>
   </extension>

</plugin>
